@{
    ViewData["Title"] = "Forms";
}

@model List<Form>

<div class="container-fluid p-0 form-list-container">
    <div class="form-list-header">
        <h1 class="display-5">Forms</h1>
        <p>This is a list of all the respondents</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Vote</a>
        <br />
    </div>

    <table class="table table-card table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Favorite Character</th>
                <th>Message</th>
                <th>Rating</th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var form in Model)
                {
                    <tr>
                        <td>@form.Id</td>
                        <td>@form.Username</td>
                        <td>@form.Character</td>
                        <td>@form.MessageText</td>
                        <td>@form.Rating</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>